@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,800;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&display=swap');

body{
    background-image: url("Group\ 3.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 102% 26%;
    background-size: container;
}

img#logo_beast{
    margin-bottom: 10px;
    position: relative;
    top: 27px;
    left: 26px;
}

div#User_Login {
    margin-top: 2%;
    margin-right: 47%;
    position:relative;    
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 133px;
    font-family: Arial, sans-serif;
   
  }



div#Connexion{
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: rgb(0, 0, 0);
    font-size: 35px;
    margin-bottom: 25px;
    text-align: center;
   
}
img#trait{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;
    margin-left: 17%;
    margin-bottom: 45px;
}

h2{
    font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

nav#navbar {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-left: 16%;
    position: fixed;
    margin-top: 5%;
}

nav#navbar a {
    text-decoration: none;
    font-size: 22px;
    color: black;
    display: inline-block;
    margin-left: 30px;
}

a#Lien_compte{

position: relative;
bottom: -21px;
    text-decoration: none;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color:  rgb(0, 0, 0);
    text-align: center;
    display: block;
}


a#Lien_compte:hover{

    color:  rgb(184, 184, 57);
  }

input#text{
    border-radius: 80px;
    width: 400px;
    height: 40px;
    background-image: url(avatar.png);
    background-repeat: no-repeat;
    background-size: 28px;
    justify-content: center;
    padding-left: 50px;
    background-position: 10px center;
    font-size: 35px;
    margin-bottom: 45px;
}

input#password{
    border-radius: 80px;
    width: 400px;
    height: 40px;
    background-image: url(cadena.png);
    background-repeat: no-repeat;
    background-size: 50px;
    padding-left: 50px;
    background-position: -1px -6px;
    justify-content: center;
    font-size: 35px;
}

input::placeholder{
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
  }


input#button{
    width:303px;
    font-size: 40px;
    border-radius: 30px;
    background-color: rgb(88,88, 59);
    color: rgb(217, 217, 217);
    margin: 79px auto;
display: block;
text-align: center;
padding-bottom: 21px;
padding-top: 10px;
font-family: "JetBrains Mono", monospace;
font-optical-sizing: auto;
font-weight: 800;


}

#button:hover {
    background-color: #d4d4c1;
    color: rgb(56, 56, 43);

}

#navbar a:hover {
    color: rgb(121, 126, 50);
}

